---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pihole
  namespace: pihole
spec:
  interval: 8h
  timeout: 15m
  chart:
    spec:
      chart: pihole
      version: 2.34.0
      sourceRef:
        kind: HelmRepository
        name: pihole
        namespace: pihole
  values:
    serviceDns:
      type: LoadBalancer
      loadBalancerIP: ${SVC_PIHOLE_IP}
      annotations:
        metallb.universe.tf/allow-shared-ip: pihole-svc
    serviceWeb:
      type: LoadBalancer
      loadBalancerIP: ${SVC_PIHOLE_IP}
      annotations:
        metallb.universe.tf/allow-shared-ip: pihole-svc
    persistentVolumeClaim:
      enabled: true
      storageClass: pihole
    adminPassword: ${SECRET_PIHOLE_ADMIN_PASSWORD}
    extraEnvVars:
      RATE_LIMIT: "0/0"
    # High priority to ensure PiHole starts before other services
    priorityClassName: critical-dns
    valuesFrom:
      - kind: ConfigMap
        name: pihole-config
