---
apiVersion: v1
kind: Service
metadata:
  name: deluge
  namespace: media
spec:
  type: ClusterIP
  selector:
    app: deluge
  ports:
    - name: http
      port: 8112
      targetPort: 8112
---
apiVersion: v1
kind: Service
metadata:
  name: radarr
  namespace: media
spec:
  type: ClusterIP
  selector:
    app: radarr
  ports:
    - name: http
      port: 7878
      targetPort: 7878
---
apiVersion: v1
kind: Service
metadata:
  name: sonarr
  namespace: media
spec:
  type: ClusterIP
  selector:
    app: sonarr
  ports:
    - name: http
      port: 8989
      targetPort: 8989
---
apiVersion: v1
kind: Service
metadata:
  name: prowlarr
  namespace: media
spec:
  type: ClusterIP
  selector:
    app: prowlarr
  ports:
    - name: http
      port: 9696
      targetPort: 9696
---
apiVersion: v1
kind: Service
metadata:
  name: ombi
  namespace: media
spec:
  type: ClusterIP
  selector:
    app: ombi
  ports:
    - name: http
      port: 3579
      targetPort: 3579
