version: "3.8"

services:
  gluetun:
    image: qmcgaw/gluetun:v3.32
    cap_add:
      - NET_ADMIN
    environment:
      - VPN_SERVICE_PROVIDER=mullvad
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY={{ mullvad_wireguard_private_key }}
      - WIREGUARD_ADDRESSES={{ mullvad_wireguard_addresses }}
      - SERVER_COUNTRIES={{ mullvad_wireguard_countries }}

  deluge:
    container_name: deluge
    image: "linuxserver/deluge:{{ lsio_deluge_version }}"
    restart: unless-stopped
    network_mode: service:gluetun
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ=Etc/UTC
    volumes:
      - "{{ downloads_dir }}/downloads:/downloads"
      - "{{ docker_htpc_home }}/deluge/config:/config"

  prowlarr:
    container_name: prowlarr
    image: "linuxserver/prowlarr:{{ lsio_prowlarr_version }}"
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ=Etc/UTC
    volumes:
      - "{{ docker_htpc_home }}/prowlarr/config:/config"

  ombi:
    container_name: ombi
    image: "linuxserver/ombi:{{ lsio_ombi_version }}"
    restart: unless-stopped
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ=Etc/UTC
    volumes:
      - "{{ docker_htpc_home }}/ombi/config:/config"
    ports:
      - "3579:3579"

  sonarr:
    container_name: sonarr
    image: "linuxserver/sonarr:{{ lsio_sonarr_version }}"
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ=Etc/UTC
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ docker_htpc_home }}/sonarr/config:/config"
      - "{{ downloads_dir }}/complete/tv:/tv"
      - "{{ docker_htpc_home }}/deluge/downloads:/downloads"

  radarr:
    container_name: radarr
    image: "linuxserver/radarr:{{ lsio_radarr_version }}"
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ=Etc/UTC
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ docker_htpc_home }}/radarr/config:/config"
      - "{{ downloads_dir }}/complete/movies:/movies"
      - "{{ docker_htpc_home }}/deluge/downloads:/downloads"
{% if include_plex %}

  plex:
    container_name: plex
    image: "linuxserver/plex:{{ lsio_plex_version }}"
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ=Etc/UTC
    volumes:
      - "{{ docker_htpc_home }}/plex/config:/config"
      - "{{ downloads_dir }}/complete/tv:/tv"
      - "{{ downloads_dir }}/complete/movies:/movies"
      - "{{ downloads_dir }}/complete/concerts:/concerts"
{% endif %}
