---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ddclient
  namespace: ddclient
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ddclient
  template:
    metadata:
      labels:
        app: ddclient
    spec:
      containers:
      - name: ddclient
        image: lscr.io/linuxserver/ddclient:4.0.0
        env:
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        - name: TZ
          value: "Etc/UTC"
        volumeMounts:
        - name: ddclient-config
          mountPath: /config
        resources:
          requests:
            memory: "16Mi"
            cpu: "10m"
          limits:
            memory: "64Mi"
            cpu: "50m"
      volumes:
      - name: ddclient-config
        secret:
          secretName: ddclient-config
      restartPolicy: Always