{{ ansible_managed | comment }}

[Unit]
Description=Jackett Service
After=network.target

[Service]
User={{ jackett_user_name }}
Group={{ jackett_group_name }}
Type=simple
ExecStart=/usr/bin/mono --debug {{ jackett_user_home }}/bin/Jackett/JackettConsole.exe --NoRestart
Restart=always
RestartSec=5
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
