---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: deluge-config
  namespace: media
spec:
  storageClassName: media-deluge-config
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-downloads
  namespace: media
spec:
  storageClassName: media-downloads
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 500Gi
