---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
  namespace: media
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: prowlarr
  template:
    metadata:
      labels:
        app: prowlarr
    spec:
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      containers:
        - name: prowlarr
          image: lscr.io/linuxserver/prowlarr:2.3.0
          securityContext:
            runAsUser: 0
            runAsGroup: 0
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Etc/UTC"
            - name: PROWLARR__SERVER__URLBASE
              value: "/prowlarr"
          volumeMounts:
            - name: config
              mountPath: /config
          resources:
            requests:
              memory: 96Mi
              cpu: 25m
            limits:
              memory: 192Mi
              cpu: 200m
          livenessProbe:
            httpGet:
              path: /prowlarr
              port: 9696
            initialDelaySeconds: 60
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /prowlarr
              port: 9696
            initialDelaySeconds: 30
            periodSeconds: 10
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: prowlarr-config
