---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prowlarr-config
  namespace: media
spec:
  storageClassName: media-prowlarr-config
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
