---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radarr-config
  namespace: media
spec:
  storageClassName: media-radarr-config
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-movies
  namespace: media
spec:
  storageClassName: media-movies
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 2Ti
