---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ombi
  namespace: media
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: ombi
  template:
    metadata:
      labels:
        app: ombi
    spec:
      containers:
        - name: ombi
          image: lscr.io/linuxserver/ombi:4.47.1
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Etc/UTC"
          volumeMounts:
            - name: config
              mountPath: /config
          resources:
            requests:
              memory: 128Mi
              cpu: 25m
            limits:
              memory: 256Mi
              cpu: 200m
          ports:
            - containerPort: 3579
              name: http
          livenessProbe:
            httpGet:
              path: /
              port: 3579
            initialDelaySeconds: 60
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /
              port: 3579
            initialDelaySeconds: 30
            periodSeconds: 10
      securityContext:
        fsGroup: 1000
        runAsUser: 1000
        runAsGroup: 1000
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: ombi-config
