---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 8h
  timeout: 15m
  chart:
    spec:
      chart: traefik
      version: 33.x
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik
  values:
    deployment:
      enabled: true
      replicas: 2
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                      - traefik
              topologyKey: kubernetes.io/hostname

    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 300m
        memory: 128Mi

    service:
      enabled: true
      type: LoadBalancer
      annotations:
        metallb.io/loadBalancerIPs: ${SVC_TRAEFIK_IP}
      spec:
        externalTrafficPolicy: Local

    ports:
      web:
        port: 80
      websecure:
        port: 443
        http3:
          enabled: true
      metrics:
        port: 9100

    ingressRoute:
      dashboard:
        enabled: true

    logs:
      general:
        level: INFO
      access:
        enabled: false

    metrics:
      prometheus:
        enabled: false

    providers:
      kubernetesCRD:
        enabled: true
        allowCrossNamespace: true
      kubernetesIngress:
        enabled: true
        publishedService:
          enabled: true

    additionalArguments:
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
