{{ ansible_managed | comment }}

[Unit]
Description=Radarr Daemon
After=syslog.target network.target

[Service]
User={{ radarr_user_name }}
Group={{ radarr_group_name }}

Type=simple

ExecStart=/usr/bin/mono --debug {{ radarr_user_home }}/bin/Radarr/Radarr.exe -nobrowser -data={{ radarr_user_home }}/data
TimeoutStopSec=20
KillMode=process
Restart=on-failure

# These lines optionally isolate (sandbox) Radarr from the rest of the system.
# Make sure to add any paths it might use to the list below (space-separated).
#ReadWritePaths=/opt/Radarr /path/to/movies/folder
#ProtectSystem=strict
#PrivateDevices=true
#ProtectHome=true

[Install]
WantedBy=multi-user.target
